.menu { grid-area: menu; }
.body { grid-area: main; }
.footer { grid-area: footer; }
.right { grid-area: rigth;}
.header { grid-area: header;
  border-bottom: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer right right';
  grid-gap: 10px;
  padding: 10px;
  position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

/*.grid-container > div {
  padding: 20px 0;
}*/